.input {
  max-height: $s56;
  padding: $s16 $s24;

  color: $dark-blue;

  background-color: inherit;
  border: 1px solid;
}

.primary {
  color: $gray;
  border-color: $dark-gray;
}

.secondary {
  color: $dark-blue;
  border-color: $gray;
}
