.container {
  @include respond('tablet') {
    flex-direction: column;
  }

  display: flex;
  flex-direction: row;
  gap: $s32;
  padding: $s128 $s80;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: $s32;
}

.posts {
  height: 100%;
}
