.section {
  @include respond('desktop') {
    gap: $s24;
  }

  display: flex;
  flex-direction: column;
  gap: $s64;
}

.posts {
  @include respond('desktopLg') {
    flex-wrap: wrap;
    gap: $s24;
    justify-content: space-around;
  }

  @include respond('tablet') {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @include respond('phone') {
    margin-bottom: $s64;
  }

  display: flex;
  gap: $s32;
  justify-content: space-between;

  padding-bottom: $s64;

  border-bottom: 1px solid $light-gray;
}
