.wrapper {
  border: 1px solid $dark-gray;
  border-radius: $s4;
}

.select {
  cursor: pointer;

  display: flex;

  padding: $s8 $s16 $s8 $s8;

  color: $white;

  background-color: $dark-blue;
  border: none;
  border-right: $s8 solid transparent;
  border-radius: $s4;

  &:focus {
    outline: 1px solid $yellow;
  }

  &.pending {
    transition: all 0.3s ease;

    &:disabled {
      opacity: 0.3;
    }
  }
}

.option {
  color: $white;
  background-color: $dark-blue;
}
